{% extends 'MajesTeelBundle::layout.html.twig' %}
{% block title %}{{parent()}} New symfony2 framework{% endblock %}

{% block meta_type %}{{parent()}}{% endblock %}
{% block meta_title %}{{parent()}}{% endblock %}
{% block meta_description %}{% endblock %}
{% block meta_image %}{% endblock %}


{% block content %}

    {{parent()}}
<div class="container">
    <div class="starter-template">
        <div class="well col-md-10 col-md-offset-1">
            <div class="row">
                <div class="col-md-8">
                    <form action="{{ path('_majesteel_register') }}" method="post" name="login_form">
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="icon-tag"></i></span>
                                <input class="form-control" type="text" name="_firstname" value="{{ firstname is defined ? firstname : '' }}" placeholder="Your firstname" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="icon-tag"></i></span>
                                <input class="form-control" type="text" name="_lastname" value="{{ lastname is defined ? lastname : '' }}" placeholder="Your lastname"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="icon-envelope"></i></span>
                                <input class="form-control" type="text" name="_email" value="{{ email is defined ? email : '' }}" placeholder="Your email" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="icon-lock"></i></span>
                                <input class="form-control" type="password" value="" name="_password" placeholder="Your password"/>
                            </div>
                        </div>
                        <input type="hidden" name="_social" value="{{ social is defined ? social : '' }}"/>
                        <input type="hidden" name="_social_id" value="{{ social_id is defined ? social_id : '' }}"/>
                        <input type="submit" class="btn btn-lg btn-primary btn-block login-submit" value="Register"/>


                    </form>
                </div>
                <div class="col-md-4">
			{% if facebook_url %}<a href="{{ facebook_url }}" class="btn btn-primary btn-lg btn-block btn-facebook">Register with Facebook</a>{% endif %}
                        {% if twitter_url %}<a href="{{ twitter_url }}" class="btn btn-info btn-lg btn-block btn-twitter">Register with Twitter</a>{% endif %}
                        {% if google_url %}<a href="{{ google_url }}" class="btn btn-danger btn-lg btn-block btn-google">Register with Google</a>{% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
