{% extends 'MajesTeelBundle::layout.html.twig' %}
{% block title %}{{parent()}} New symfony2 framework{% endblock %}

{% block meta_type %}{{parent()}}{% endblock %}
{% block meta_title %}{{parent()}}{% endblock %}
{% block meta_description %}{% endblock %}
{% block meta_image %}{% endblock %}


{% block content %}

    {{parent()}}
<!-- Start of Page Container -->
<div class="page-container">
        <div class="container">
                <div class="row">
                        <!-- start of page content -->
                        <div class="span8 main-listing">
                            
                            {% if results|length > 0 %}
                                {% for entity in results %}{% set entity = entity.getTransformed() %}
                                {% set fields = entity.entityRenderFront() %}
                                    <article class="format-standard type-post hentry clearfix">

                                        <header class="clearfix">

                                                <h3 class="post-title">
                                                    <a href="{% if fields.url is not empty %}{{ path(fields.url.route, fields.url.params) }}{% endif %}">{{fields.title}}</a>
                                                    <div class="post-meta clearfix">
                                                        <span class="category"><a href="#" title="View all posts in WordPress Plugins">{{entity.tags}}</a></span>
                                                    </div><!-- end of post meta -->
                                                </h3>

                                                

                                        </header>

                                        <p>{{fields.description}}</p>

                                    </article>
                                {% endfor %}    
                            {% else %}
                                <article class="format-standard type-post hentry clearfix">
                                    <p class="notice">Il n'y a aucun résultat à votre recherche</p>
                                </article>
                            {% endif %}




                            <div id="pagination">
                                <a href="#" class="btn active">1</a>
                                <a href="#" class="btn">2</a>
                                <a href="#" class="btn">3</a>
                                <a href="#" class="btn">Next »</a>
                            </div>

                        </div>
                        <!-- end of page content -->

                        <!-- start of sidebar -->
                        <aside class="span4 page-sidebar">
                            <section class="widget">
                                <div class="support-widget">
                                    <a href="">

                                    <h3 class="title">{% trans %}Support{% endtrans %}</h3>
                                    <p class="intro">{% trans %}You need technical or functional support on how to use majeS'teel, please feel free to contact us.{% endtrans %}</p>
                                        
                                    </a>
                                </div>
                            </section>

                            <section class="widget">
                                <h3 class="title">Catégories de recherche</h3>
                                <ul class="articles">
                                    {% for facet in facets.tags.terms %}
                                        <li class="article-entry standard">
                                                <h4><!--<input name="filters[{{ facet.term }}]" type="checkbox" value="" {% if facet.term in filters|keys %}checked="checked" {% endif %}>--><a href="#">{{ facet.term }}</a></h4>
                                                <span class="count">{{ facet.count }}</span>
                                        </li>
                                    {% endfor %}
                                        
                                </ul>
                            </section>
                        </aside>
                        <!-- end of sidebar -->
                </div>
        </div>
</div>
<!-- End of Page Container -->

{% endblock %}

