{% for id, item in block.items %}

{% if item.attributes.support_link.value.page_id is defined %}{% set url = path('majes_cms_' ~ item.attributes.support_link.value.page_id ~  '_' ~ lang) %}
{% else %}{% set url = item.attributes.support_link.value.value %}{% endif %}
                
{{wysiwygTagBegin(block, item, lang)|raw}}
<a href="{{ url }}" target="{{item.attributes.support_link.value.target}}">

	<h3 class="title">{{item.attributes.support_title.value.value}}</h3>
	<p class="intro">{{item.attributes.support_content.value.value|raw}}</p>
	
</a>
{{ wysiwygTagEnd()|raw }}
{% endfor %}